<%= form_with(model: potential, local: true) do |form| %>
  <div class='form-group'>
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control', required: true %>
  </div>

  <div class='form-group'>
    <%= form.label :phone %>
    <%= form.text_field :phone, class: 'form-control', required: true %>
  </div>

  <div class='form-group'>
    <%= form.label :owner %>
    <%= select "potential", "owner", options_for_select(Potential::OWNER, form.object.owner), { include_blank: false, }, class: 'init_select2' %>
  </div>

  <div class='form-group'>
    <%= form.label :remind_at %>
    <div class="input-group mb-3 date only_date">
      <%= form.text_field :remind_at_field, class: 'form-control', required: true %>
      <div class="input-group-append input-group-addon">
        <span class="input-group-text" id="basic-addon1">
          <span class="fa fa-calendar"></span>
        </span>
      </div>
    </div>
  </div>

  <%= render 'comments_form', potential: potential, form: form %>

  <div class='row-actions'>
    <%= link_to 'Back', potentials_path, class: 'btn btn-primary'  %>
    <%= form.submit 'Submit', class: 'btn btn-success' %>
  </div>
<% end %>
