<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @potential.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @potential.phone %>
</p>

<p>
  <strong>Account:</strong>
  <%= @potential.account_id %>
</p>

<p>
  <strong>Reminder at:</strong>
  <%= @potential.remind_at %>
</p>

<%= link_to 'Edit', edit_potential_path(@potential) %> |
<%= link_to 'Back', potentials_path %>
