<!DOCTYPE html lang="en">
  <!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="UTF-8">
    <title>Chang Chang's ❤</title>
    <meta name="viewport" content="width=device-width">
    <meta name="Description" lang="en" content="Description">
    <meta name="robots" content="index, follow">
    <meta name="robots" content="noodp, noydir">

    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/alertifyjs-alertify.js/1.0.11/css/alertify.css" />
    <!-- STYLE SHEET -->

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!-- HEADER -->
    <%= render 'shared/header' %>
    <!-- / HEADER -->


    <!-- MAIN CONTENT -->
    <div id="main_content">
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>
    <!-- / MAIN CONTENT -->

    <!-- FOOTER -->
    <%= render 'shared/footer' %>
    <!-- / FOOTER -->
    <!-- SITE SCRIPTS -->
    <script>
      <%= yield :extra_js %>
    </script>
    <!-- / SITE SCRIPTS -->
  </body>
</html>
